:root {
  --gradient-dir1: 45deg;
  --gradient-dir2: 90deg;
  --gradient-dir3: -45deg;
}

.mtk10,
.mtk15 {
  color: transparent;
  background-image: linear-gradient(to left top, #fc6c8f, #ff2ced, #ffb86c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mtk5 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir1), #20e3b2, #4dd78a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk16 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir1), #d66efd, #6a5af9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk9,
.mtk17 {
  color: transparent;
  background-image: linear-gradient(to right top, #0072ff, #2cccff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk18 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir2), #82aaff 50%, #3d6ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: normal;
}

.mtk3 {
  color: transparent;
  background-image: linear-gradient(to right top, #c29ffd, #ffb4dc, #fef0d1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk7 {
  color: transparent;
  background-image: linear-gradient(to right bottom, #fc6c8f, #ffb86c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursors-layer .cursor {
  background-image: linear-gradient(245deg,
      #fcb564,
      #ff65f2,
      #d66efd) !important;
}

.monaco-scrollable-element .monaco-scrollable-element>.scrollbar.vertical>.slider,
.editor-container .monaco-scrollable-element>.scrollbar.vertical>.slider {
  background-image: linear-gradient(to top, #ffb86c, #ff6bcb);
  width: 3px !important;
}

.tab-border-bottom-container,
.tab-border-top-container {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.1px;
  width: 100% !important;
  height: calc(100% - 1px) !important;
  background-color: transparent !important;
  border-radius: inherit;
  box-sizing: border-box;
}

.tab-border-bottom-container:before,
.tab-border-top-container:before {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spinner 3s cubic-bezier(0, 0.8, 0.95, 1) infinite;
  background: conic-gradient(from 0deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 289.4deg,
      #fc6c8f 318deg,
      #ff2ced 1turn,
      #ffb86c 2turn,
      #2cccff 3turn),
    conic-gradient(from 180deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 287.46deg,
      #20e3b2 318deg,
      #ffcc70 1turn,
      #c850c0 2turn,
      #4158d0 3turn);
  border-radius: inherit;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.tab {
  overflow: hidden;
}

.tab.active {
  border-radius: 100px !important;
  box-shadow: inset 0 1px 1px 0 rgba(199, 211, 234, 0.12),
    inset 0 24px 48px 0 rgba(199, 211, 234, 0.05),
    0 24px 32px 0 rgba(6, 6, 14, 0.7);
}